/* Root */
:root {
  font-size: 16px;
}

/* RESET  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  overflow-x: hidden;
  background-image: url(/img/background-dark.png);
  font-family: "oswald";
}

/* Variables */
/* Colours */
/* Primary coulours */
/* Secondary coulours */
/* Fonts */
@font-face {
  font-family: "oswald";
  src: url(/fonts/oswald-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Components */
/* Header */
.header {
  width: 100%;
  background-color: rgba(251, 246, 233, 0.5);
}
.header__logo {
  width: 5.375rem;
}

/* Buttons */
.button--minus {
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: black;
}

.start-fight {
  width: 25%;
  height: 5rem;
  background-color: red;
}

/* Suggestions List */
.suggestions {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 20.5rem;
  background-color: white;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  cursor: pointer;
}

/* Card */
/* Utils */
.container {
  margin: 1.75rem;
  border-radius: 2rem;
}

.flex {
  display: flex;
  flex-direction: column;
}
.flex--horizontal {
  flex-direction: row;
  overflow-x: scroll;
  gap: 1rem;
  padding: 1rem;
}

/* Input */
.input {
  width: 90%;
  height: 2.5rem;
  border-radius: 2rem;
  background-image: url(/img/search.png);
  background-size: cover;
  background-position: left;
  padding-left: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "oswald";
  font-size: 1rem;
}

.background {
  background-color: rgba(251, 246, 233, 0.5);
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  color: #FBF5E8;
  background-image: url(/img/atk-icon-full-size.png);
}
.hero__frame {
  width: 50%;
  position: absolute;
  z-index: 10;
}
.hero__name {
  position: relative;
  font-size: 1.125rem;
  z-index: 100;
  bottom: 4.5rem;
}
.hero__attack {
  position: relative;
  font-size: 1.625rem;
  z-index: 10;
  bottom: 13.5rem;
  left: -3.75rem;
  text-shadow: 0 3px rgba(1, 1, 1, 0.5);
}
.hero__pv {
  font-size: 2.125rem;
  position: relative;
  z-index: 10;
  bottom: 4.6rem;
  text-shadow: 0 3px rgba(1, 1, 1, 0.5);
}
.hero__img {
  position: relative;
  width: 56%;
  top: 3.75rem;
  -webkit-mask-image: url(/img/mask.svg);
          mask-image: url(/img/mask.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.sectionheader {
  border-radius: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  font-family: oswald;
  color: #FBF5E8;
  font-size: 1.2rem;
}
.sectionheader--blue {
  background-color: #169CF8;
}
.sectionheader--red {
  background-color: #D11112;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  color: #FBF5E8;
  background-image: url(/img/atk-icon-full-size.png);
}
.hero__frame {
  width: 50%;
  position: absolute;
  z-index: 10;
}
.hero__name {
  position: relative;
  font-size: 1.125rem;
  z-index: 100;
  bottom: 4.5rem;
}
.hero__attack {
  position: relative;
  font-size: 1.625rem;
  z-index: 10;
  bottom: 13.5rem;
  left: -3.75rem;
  text-shadow: 0 3px rgba(1, 1, 1, 0.5);
}
.hero__pv {
  font-size: 2.125rem;
  position: relative;
  z-index: 10;
  bottom: 4.6rem;
  text-shadow: 0 3px rgba(1, 1, 1, 0.5);
}
.hero__img {
  position: relative;
  width: 56%;
  top: 3.75rem;
  -webkit-mask-image: url(/img/mask.svg);
          mask-image: url(/img/mask.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.ttl {
  color: #FBF5E8;
}
.ttl--h1 {
  color: #FBF5E8;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}/*# sourceMappingURL=style.css.map */