/* Variables */

/* Colours */

/* Primary coulours */
$red: #D11112;
$blue: #169CF8;
$cream: #FBF5E8;
$cream50: rgba(251, 246, 233, 0.5);

/* Secondary coulours */
$black: #010101;
$black50: rgba(1, 1, 1, 0.5);
$yellow: #FFC90A;