.arena {
    background-image: url(/img/background-arena.png);
    height: 100%;

    &__defender {
        background-image: url(/img/defender-background.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 65%;
        margin: auto;
        margin-bottom: 2rem;
    }

    &__attacker {
        background-image: url(/img/attacker-background.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 65%;
        margin: auto;
    }

    &__logo {
        width: 5rem;
        margin: 1rem;
    }

    &__bottom-section {
        display: flex;
    }

    &__section-hero {
        width: 65%;
        height: 7rem;
        background-color: $cream50;
        border-radius: 1rem;
        margin: 2rem 0rem 1rem 1rem;
    }

    &__section-graveyard {
        width: 25%;
        height: 7rem;
        background-color: $cream50;
        border-radius: 1rem;
        margin: 2rem 1rem 1rem 1rem;
    }

    &__victory-img {
        padding: 2rem;
    }
}

.the-winner {
    width: 70%;
    background-image: url(/img/crown.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    // background-size: cover;
}