/* Buttons */

.button {
    &--minus {
        content: "";
        width: 5rem;
        height: 5rem;
        background-color: black;
    }
}

.start-fight {
    width: 25%;
    height: 5rem;
    background-color: red;
}
