.cimetierre{
    padding-bottom: 0.8rem;
    margin: 1.75rem;
    border-radius: 2rem;
    background-color: $cream50;
    

    &__icon {
        width: 2rem;
        position: absolute;
        right: 6%;
    }

    &--section-header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        margin: 0 -1px;
        width: 100%;
        border-radius: 2rem;
        padding-top: 1rem;
        padding-bottom: 0.8rem;     
        background-color: #5BAFE6;

        &__ttl {
            color: $black;
            font-size: 2rem;
            text-align: center;
            font-family: oswald;
        }
    }
}