/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    color: $cream;

    &__frame {
        width: 50%;
        position: absolute;
        z-index: 1;

    }

    &__name {
        position: relative;
        font-size: 1.125rem;
        z-index: 10;
        bottom: 4.25rem;
    }

    &__attack {
        position: relative;
        z-index: 10;

    }

    &__pv {
        position: relative;
        z-index: 10;
    }

    &__img {
        position: relative;
        width: 50%;
        // mask-image: url(/img/card-mask.png);
    }

}