/* Hero */

.hero {
    text-transform: uppercase;
    color: $cream;

    &__frame {
        width: 50%;
        position: absolute;
        z-index: 1;

    }

    &__name {
        position: relative;
    }

    &__img {
        position: relative;
        width: 50%;
        // mask-image: url(/img/card-mask.png);
    }
}