.pfp {
    width: 10rem;
    height: 10rem;
    background-image: url(/img/pfp.png);
    background-size: cover;
    border-radius: 100%;
    margin: auto;
    border: 3px solid $black;

    &__close-button {
        width: 2rem;
        position: absolute;
        margin-left: 75%;
    }
}