.sectionheader {
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    font-family: oswald;
    color: $cream;
    font-size: 1.2rem;

    &--blue {
        background-color: $blue;
    };

    &--red {
        background-color: $red;
    };

    &--yellow {
        background-color: $yellow;
    };

    &--light-blue {
        background-color: #5BAFE6;
    }
}