.startfightbutton{
    border-radius: 1rem;
    background-color: $yellow;
    font-family: 'oswald';
    font-weight: bold;
    font-size: 1.2rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}