.start-fight-button{
    background-color: $yellow;
    border-radius: 1.5rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 4rem;
    font-family: 'oswald';
    font-size: 1.8rem;
    font-weight: bold;
}