/* Suggestions List */

.suggestions {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 20.5rem;
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
}