.username {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cream;
    border-radius: 2rem;
    width: 90%;
    margin: 0 5%; 
    padding: 0.5rem;
    padding-top: 0.6rem;
    margin-top: -3rem;
    position: relative;
    z-index: 1;

    &__icon {
        width: 2rem;
        position: absolute;
        left: 4%;
    }
}