/* Utils */

.container {
    margin:  1.75rem;
    border-radius: 2rem;
}

.flex {
    display: flex;
    flex-direction: column;

    &--horizontal{
        flex-direction: row;
        overflow-x: scroll;
        gap: 1rem;
        padding: 1rem;
    }
}
